@page "/flights"

@*Flight Finder dropdown*@
<h4>Flight Finder</h4>

<label>From: </label> 
<select>
	<option value="any">Any</option>
	@foreach (Airport airport in airportList)
	{
		<option value="@airport.Code" placeholder="Any">@airport.Name</option>
	}
</select>

<label>To: </label>
<select>
	<option value="any">Any</option>
	@foreach (Airport airport in airportList)
	{
		<option value="@airport.Code" placeholder="Any">@airport.Name</option>
	}
</select>



<div class="form-group">
	<label>Day:</label>
	@* <selct class="form-select" @bind=""> *@
	@* 	@foreach (string day in days) *@
	@* 	{ *@
	@* 		<option>@day</option> *@
	@* 	} *@
	@* </selct> *@

</div>
<button type="submit" class="btn btn-primary" @onclick=FindFlights>Find Flights</button>

<h4>Flights</h4>

<h4>Reserve</h4>
<label>Flight code: </label>
<label>Airline: </label>
<label>Day: </label>
<label>Time: </label>
<label>Cost: </label>
<label>Name: </label>
<label>Citizenship</label>
<button type="submit" class="btn btn-primary" >Reserve</button>

<label>Reservation Code</label>



@code {

	// for dropdown list of airports
	List<Airport> airportList = AirportManager.GetAirports(); 
	AirportManager airportManager = new AirportManager();

	// for button of finding flights
	private void FindFlights()
	{
		// placeholder for now
	}
}
