@page "/reservation"
@using GroupAssignment2.Data

<h3>Reservation Finder</h3>

<div class="search-container">
    <div class="search-item">
        <label>Code:</label>
        <input type="text" placeholder="Any" @bind="reservationCode" />
    </div>

    <div class="search-item">
        <label>Airline:</label>
        <select @bind="airline">
            <option value="" disabled selected>Select...</option>
            @foreach (string airline in FlightManager.GetAirlines())
            {
                <option value=@airline>@airline</option>
            }
        </select>
    </div>

    <div class="search-item">
        <label>Name:</label>
        <input type="text" placeholder="Any" @bind="name" />
    </div>


    <button class="find-button" @onclick="SearchReservation">Find reservations</button>
</div>

<div class="flights-found-field">
    <h3>Reservations</h3>
    @if (reservationsFound.Count == 0)
    {
        <span class="formatted-field">Loading...</span>
    }
    else
    {
        <select class="formatted-field" @bind="selectedReservationStr">
            <option value="" selected disabled>Please select reservations...</option>
            @foreach (Reservation reservation in reservationsFound)
            {
                <option value=@reservation.ToString()>@reservation.ToString()</option>
            }
        </select>
        @if (!string.IsNullOrEmpty(selectedReservationStr))
        {
            UpdateSelectedReservation();
        }
    }
</div>


<h3>Reserve</h3>
<div class="reservation-container">
    <label>Reservation code:</label>
    <span class="formatted-field">@reservationCodeDisplay</span>

    <label>Flight code:</label>
    <span class="formatted-field">@flightCode</span>

    <label>Airline:</label>
    <span class="formatted-field">@airlineDisplay</span>

    <label>Cost:</label>
    <span class="formatted-field">@cost</span>

    <label>Name:</label>
    <input type="text" class="formatted-field" placeholder="Name" @bind="nameDisplay">

    <label>Citizenship:</label>
    <input type="text" class="formatted-field" placeholder="Citizenship" @bind="citizenship">

    <label>Status:</label>
    <select class="formatted-field" @bind="status">
        <option value="Active" selected>Active</option>
        <option value="Inactive">Inactive</option>
    </select>
</div>

<div class="reserve-button-container">
    <button class="reserve-button" @onclick="UpdateReservation">Save</button>
    <span class="error">@message</span>
</div>

@code {
    private string selectedReservationStr; //when select flight from flightFound List
    private string flightCode = "Flight Code";
    private string airline = "";
    private string airlineDisplay = "Airline";
    private string cost = "Cost";
    public string name = "";
    private string nameDisplay = "";
    public string citizenship = "";
    private string reservationCode = "";
    private string reservationCodeDisplay = "reservation code"; 
    private string originalStatus;
    private string status = "";
    public string message= "";

    ReservationManager reservationManager = new ReservationManager(); //populate reservations
    List<Reservation> reservations = ReservationManager.GetReservations();
    List<Reservation> reservationsFound = new List<Reservation>();
    Reservation selectedReservation;

    //Call FindReservation to search Reservation based on Reservation Code or Airline or Name
    public void  SearchReservation()
    {
        try
        {
            reservationsFound.Clear();
            reservationsFound = ReservationManager.FindReservations(reservationCode, airline, name);
            message = "";
        }
        catch (Exception e)
        {
            message = e.Message;
        }

    }

    //implements data of the Flight
    public void UpdateSelectedReservation() 
    {
        string[] parts = selectedReservationStr.Split(",");
        foreach (Reservation reservation in reservations)
        {
            if (reservation.ReservationCode == parts[0])
            {
                selectedReservation = reservation;
            }
        }
        reservationCodeDisplay = selectedReservation.ReservationCode;
        flightCode = selectedReservation.Flight.FlightCode;
        airlineDisplay = selectedReservation.Flight.FlightName;
        cost = selectedReservation.Flight.Price.ToString();
        originalStatus = selectedReservation.Status;
    }

    //Save reservation
    public void UpdateReservation()
    {
        try
        {
            ReservationManager.CheckInformation(nameDisplay, citizenship, status, reservationCodeDisplay);
            selectedReservation.Name = nameDisplay;
            selectedReservation.Citizenship = citizenship;
            selectedReservation.Status = status;
            ReservationManager.SaveReservations(reservations);
            if (!selectedReservation.Status.Equals(originalStatus))
            {
                if (selectedReservation.Status.Equals("Inactive"))
                {
                    List<Flight> flights = FlightManager.AddFlights();
                    FlightManager.AddSeat(selectedReservation.Flight.FlightCode, flights);
                    FlightManager.WriteFlight(flights);
                }
                else if (selectedReservation.Status.Equals("Active"))
                {
                    List<Flight> flights = FlightManager.AddFlights();
                    FlightManager.ReduceSeat(selectedReservation.Flight.FlightCode, flights);
                    FlightManager.WriteFlight(flights);
                }
            }
            message = "Updated";    
            
        }
        catch (Exception e)
        {
            message = e.Message;
        }

    }

 }